<style>
 #eins {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#eins:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
#zwei {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#zwei:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
#drei {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#drei:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
</style>
<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading"></h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-3">
          <p><a href="https://www.uni-wuerzburg.de/startseite/"><img src="\images\wurzis.svg" width="100px" id="eins"></a> <a href="https://www.uni-koeln.de"><img src="\images\uni_cologne.jpg" width="200px" id="zwei" style="margin-left: 20px; " ></a></p>
          
          
        </div>
  
      
  
        <div class="footer-col footer-col-3">
          <p><a href="https://www.dfg.de/foerderung/index.html"><img src="\images\dfg_logo_schriftzug_blau_foerderung_en.jpg" id="drei" width="200px"></a></p></div>
        
      </div>
  
    </div>
  
  </footer>
  