<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">A Project from</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-3">
          <p><a href="https://www.uni-wuerzburg.de/startseite/"><img src="\images\2000px-Universität_Würzburg_Logo.svg" width="100px" ></a> <a href="https://www.uni-koeln.de"><img src="\images\university-of-cologne.svg" width="200px" ></a></p>
          
          
        </div>
  
      
  
        <div class="footer-col footer-col-3">
          <p><a href="https://www.dfg.de/foerderung/index.html"><img src="\images\dfg_logo_schriftzug_schwarz_foerderung_en.svg" width="1000px" ></a></p></div>
        
      </div>
  
    </div>
  
  </footer>
  